body {
font: 14px Tahoma;
color: rgb(0, 0, 0); /*Черный 0 баллов*/
padding: 15px;
margin: 0 auto;
width: 1200px;
background-color: rgb(180, 180, 180);
}

#header {
text-align: center;
text-transform: capitalize;
padding: 40px 20px;
margin: 20px auto 10px auto;
width: 600px;
overflow: hidden;
background-color: rgb(0, 0, 255);
color: rgb(255, 255, 255);
border: 5px solid rgb(255, 255, 0)
}

a {
text-decoration: none;
}

#div1 {
margin: 30px 0 0 0;
padding: 30px;
border: 1px solid rgb(0, 0, 255);
}

#p1 {
margin: 20px 0 0 0;
padding: 20px;
border: 1px solid rgb(255, 0, 0);
}

#main {
width: 800px;
height: 420px;
margin: auto;
outline: 0px solid rgb(255, 0, 0);
background-image: url(../Images/bg.jpg);
}

#main h1 {
text-align: center;
outline: 0px solid rgb(0, 0, 255);
padding-top: 180px;
font: 36px Verdana;
}

#table {
margin: 50px auto;
}

/*p {
text-indent: 32px;
}

#span1 {
border: 1px solid rgb(255, 0, 0);
padding: 0px 30px;
margin: 30px 30px;
display: block;
}

ol li {
display: inline;
border: 1px solid rgb(139, 0, 255);
}

ul {
list-style-image: url(../Images/Arrow.png);
color: rgb(115, 0, 156); /*Фиолетовый 0 баллов
}

/*li {
color: rgb(181, 210, 9); /*Желтый 1 балл
}

.new-li {
color: rgb(173, 17, 2); /*Красный 10 баллов
}

#liSuper {
color: rgb(3, 16, 171); /*Синий 100 баллов
}

#myList2 li.new-li {
color: rgb(0, 195, 181); /*Бирюзовый 111 баллов
}

/*#header {
color: #c32017;
text-align: center;
text-transform: capitalize;
font-variant: small-caps;
border-width: 2px;
border-style: solid;
border-color: #faa21a;
border: 2px solid #faa21a; Сокращенная запись!!!
}

p {
color: #404040;
}

p {
font-family: Verdana, Tahoma, sans-serif;
font-size: 16px;
text-indent: 32px;
line-height: normal;
word-spacing: normal;
letter-spacing: normal;
}

p {
font-family: "Courier New";
font-size: 16px;
}

h2, #myList {
color: #404040
}

ol li {
color: #cc0000;
}

ul {
list-style-type: upper-roman;
list-style-image: url(../Images/Arrow.png);
list-style-position: inside;
list-style: inside url(../Images/Arrow.png); Сокращенная запись!!!
}

#bt p a {
color: #faa21a;
}

a:link {
color: #111111;
}

a:visited {
color: #faa21a;
}

a:hover {
color: #800000;
}

a:active {
color: #008000;
}

.new {
color: #6be5c3;
font-style: italic;
font-weight: bold;
font-size: 20px;
line-height: 30px;
font-family: Tahoma;
font: italic bold 20px/30px Tahoma; Сокращенная запись!!!
}*/

.new2 {
font-style: italic;
}

.new3 {
font-weight: bold;
text-decoration: line-through;
}

.new4 {
text-align: justify;
}
