#header {
color: #c32017;
text-align: center;
text-transform: capitalize;
font-variant: small-caps;
}

p {
color: #404040;
}

p {
font-family: Verdana, Tahoma, sans-serif;
font-size: 16px;
text-indent: 32px;
line-height: normal;
word-spacing: normal;
letter-spacing: normal;
}

/*p {
font-family: "Courier New";
font-size: 16px;
}*/

h2, #myList {
color: #404040
}

ul li {
color: #cc0000;
}

/*#bt p a {
color: #faa21a;
}*/

a:link {
color: #111111;
}

a:visited {
color: #faa21a;
}

a:hover {
color: #800000;
}

a:active {
color: #008000;
}

a {
text-decoration: none;
}

.new {
color: #6be5c3;
}

.new2 {
font-style: italic;
}

.new3 {
font-weight: bold;
text-decoration: line-through;
}

.new4 {
text-align: justify;
}
